/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common Styles */
html {
  /* Now, 10px = 1rem */
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 1.6rem;
}

h2 {
  font-size: 2.5em;
}

.link-button {
  text-decoration: none;
  padding: 1em 2.4em;
  color: white;
  background-color: #e02c6d;
}

.box-hover:hover {
  box-shadow: 0em 0em 4em rgba(0, 0, 0, 0.15);
}

/* Header Section */
header {
  background-color: #2d25a0;
}

.header:hover .header-banner {
  transform: rotate(45deg);
  transition: transform 1.5s;
}

.header {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12em;
  display: flex;
  justify-content: center;
  padding: 8.6em 0;
}

.header-text h1 {
  font-size: 6.4rem;
}

/* Players */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2.7em;
  grid-column-gap: 3em;
  padding: 7em 22em;
}

.player {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  padding: 1.5em;
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.15);
}

.player h3 {
  font-size: 2.8rem;
}

/* Booking */
.booking {
  max-width: 50em;
  margin: 0 auto 7em;
  text-align: center;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.15);
}

/* Highlights */
.highlights-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlights {
  max-width: 50em;
  padding: 3em;
  margin-bottom: 7em;
  text-align: center;
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.15);
}

.video iframe {
  width: 33em;
  height: 20em;
  margin-top: 2em;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.social-media a {
  background: #e7e7e8;
  border-radius: 50%;
  padding: 0.75em;
  margin: 0 0.7em;
}
.social-media i {
  color: #969bab;
}

/* ----------------------
    Media Query Mobile 
------------------------*/

/* Header */
@media only screen and (max-width: 66.8em) {
  body {
    width: 100%;
  }
  .header {
    display: flex;
    flex-direction: column;
    row-gap: 7em;
    padding: 0 0 6em 2em;
  }

  .header-text h1 {
    font-size: 3.6rem;
  }

  .header-banner img {
    width: 90%;
  }

  /* Players */
  .players {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 4.7em 0;
  }
  .player {
    width: 80%;
  }

  /* Booking  and Highlights */
  .booking-box,
  .highlights {
    width: 90%;
    margin: auto;
  }

  .highlights.box-hover {
    padding: 0;
  }

  .highlights iframe {
    width: fit-content;
  }

  /* Footer */
  footer {
    margin-top: 7em;
  }
  footer img {
    width: 80%;
  }
}

/* ----------------------
    Media Query Tablet
------------------------*/

@media only screen and (min-width: 66.8em) and (max-width: 99.2em) {
  body {
    width: 100%;
  }

  .header-text h1 {
    font-size: 5.6rem;
  }

  .header-banner img {
    width: 90%;
  }

  /* Players */

  .players-section {
    display: flex;
    justify-content: center;
  }

  .players {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
    padding: 0;
    margin-top: 4.7em;
    margin-bottom: 4.7em;
    margin-left: 6.2em;
  }
  .player {
    width: 70%;
  }

  /* Booking  and Highlights */
  .booking-box,
  .highlights {
    width: 90%;
  }

  .highlights.box-hover {
    padding: 0;
  }

  .highlights iframe {
    width: fit-content;
  }

  /* Footer */
  footer {
    margin-top: 7em;
  }
}
