/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.container {
  max-width: 1440px;
  margin: auto;
}

.link-button {
  text-decoration: none;
  padding: 10px 24px;
  color: white;
  background-color: #e02c6d;
}

.link-button:hover {
  transform: scaleX(1.5);
  transition: transform 1s;
}

/* Header Section */
header {
  background-color: #2d25a0;
}

header:hover .header-banner {
  transform: rotate(45deg);
  transition: transform 1.5s;
}

.header {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 102px;
  padding: 67px 141px 86px 156px;
}

.header-text h1 {
  font-size: 64px;
}

/* Players */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
  padding: 70px 210px 158px 180px;
}

.player {
  max-width: 300px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player h3 {
  font-size: 28px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer img {
  width: 484px;
  height: 110px;
}

.social-media a {
  background: #e7e7e8;
  border-radius: 50%;
  padding: 7.5px;
  margin: 0 7px;
}
.social-media i {
  color: #969bab;
}
